* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.header {
  padding-top: 40px;
}

.main-container {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 30px;
}

.images-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}

.choice {
  display: none;
}

#reset {
  display: none;
}

.choices {
  height: 240px;
  width: 240px;
  border-radius: 12px;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.shadow {
  box-shadow: 4px 4px 5px 4px #d1d3d3;
}

.computer {
  box-shadow: 4px 4px 5px 4px #ffb1b1;
}

.human {
  box-shadow: 4px 4px 5px 4px #c0f3ac;
}

.draw {
  box-shadow: 4px 4px 5px 4px #ecf3ac;
}

.results-container {
  font-size: 40px;
  min-height: 45px;
}
